<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
	<style type="text/css">
		@media screen and (max-width:480px){
			*[class=fullwidth_oc]{width:100% !important; height:auto !important;}
			*[class=headerblock_oc] {width:100% !important; height:auto !important;}
			*[class=headerblock_oc] img{width:100% !important; height:auto !important;}
			*[class="prodblock_oc"]{width:100% !important; display:block !important; float:left !important;}
			*[class="prodblock_oc"] img{width:100% !important; height:auto !important;}
			}
	</style>
</head>
<body bgcolor="#e4e4e4" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#FAFAFA;-webkit-text-size-adjust:none; margin:0;">
<div id='rootDivId'>
<div id='bodyDivId' style="background-color:#FAFAFA;">
<table border="0" cellpadding="0" class="fullwidth_oc" cellspacing="0" width="100%">
	<tr>
		<td align="center" bgcolor="#FAFAFA" valign="top">
			<table border="0" cellpadding="0" bgcolor="#FFFFFF" cellspacing="0" class="fullwidth_oc" width="600">
				<tr> 
					<td align="center" valign="top">
						<div id="headerDivId">
						<div name="TMCEeditableDiv" id="TMCEEditableDiv1" ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');">
						<table border="0" cellpadding="0" cellspacing="0" width="600" class="headerblock_oc">
							<tr>
								<td>
									<img src="/subscriber/SystemData/Templates/General/simple-rightsidebar/placeholder_600.gif" />
								</td>
							</tr>
						</table>
						</div>
						</div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" class="fullwidth_oc" width="600">
							<tr>
								<td valign="top">
								  <table width="395" border="0" align="left" cellpadding="0" cellspacing="0" class="prodblock_oc">
										<tr>
											<td valign="top">
												<div id="promotionFourDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv4" ondblclick="loadTinyMCE('TMCEEditableDiv4');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv4');"  onmouseout="restoreBlock('TMCEEditableDiv4');">
												<table border="0" cellpadding="0" cellspacing="0" class="fullwidth_oc" width="100%">
													<tr>
														<td valign="top">
															<table border="0" cellpadding="15" cellspacing="0" width="100%">
																<tr>
																	<td align="left" valign="top">
																		<div>
																			<h1>Heading 1</h1>
																			<h2>Heading 2</h2>
																			<h3>Heading 3</h3>
																			<h4>Heading 4</h4>
																			<strong>Getting started:</strong> Customize your template by clicking on the style editor tabs up above. Set your fonts, colors, and styles. After setting your styling is all done you can click here in this area, delete the text, and start adding your own awesome content!
																			<br />
																			<br />
																			After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "styles" drop down box. Want to <a href="#">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "remove formatting" button to strip the text of any formatting and reset your style.
																		</div>
																	</td>
															  </tr>
															</table>
													  </td>
													</tr>
												</table>
												</div>
												</div>
											</td>
										</tr>
										
									</table><table width="190" border="0" align="right" cellpadding="0" cellspacing="0"  class="prodblock_oc">
										<tr>
											<td valign="top">												
												<div id="promotionTwoDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv2" ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');">
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
													<tr>
													  <td valign="top" style="padding-top:20px;">
															<table border="0" cellpadding="0" cellspacing="4">
																<tr>
																	<td align="left" valign="middle" width="16">
																		<img src="/subscriber/SystemData/Templates/General/simple-rightsidebar/sfs_icon_facebook.png" style="margin:0 !important;" />
																	</td>
																	<td align="left" valign="top">
																		<div>
																		<a href="javascript:void(0);">Follow on Facebook</a>
																		</div>
																	</td>
																</tr>
																<tr>
																	<td align="left" valign="middle" width="16">
																		<img src="/subscriber/SystemData/Templates/General/simple-rightsidebar/sfs_icon_twitter.png" style="margin:0 !important;" />
																	</td>
																	<td align="left" valign="top">
																		<div>
																			<a href="javascript:void(0);">Follow on Twitter</a>
																		</div>
																	</td>
																</tr>
																<tr>
																	<td align="left" valign="middle" width="16">
																		<img src="/subscriber/SystemData/Templates/General/simple-rightsidebar/sfs_icon_forward.png" style="margin:0 !important;" />
																	</td>
																	<td align="left" valign="top">
																		<div>
																			|^GEN_forwardToFriend^|
																		</div>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
												</div>
												</div>
												<div id="promotionThreeDivId">
												  <div name="TMCEeditableDiv" id="TMCEEditableDiv3" ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');">
												<table border="0" cellpadding="15" cellspacing="0" width="100%">
													<tr>
														<td align="left" valign="top">
															<img src="/subscriber/SystemData/Templates/General/simple-rightsidebar/placeholder_160.gif" />
															<div>
																<h4>Heading 4</h4>
																<strong>Repeatable content blocks:</strong> Repeatable sections are noted with plus and minus signs so that you can add and subtract content blocks. You can also <a href="#" target="_blank">get a little fancy</a>: repeat blocks and remove all text to make image "gallery" sections, or do the opposite and remove images for text-only blocks!
															</div>
														</td>
												  </tr>
												</table>
												</div>
												</div>
											</td>
										</tr>
									</table>
								
									                                                
							  </td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<div id="promotionSixDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv6" ondblclick="loadTinyMCE('TMCEEditableDiv6');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv6');"  onmouseout="restoreBlock('TMCEEditableDiv6');">
						<table border="0" cellpadding="10" cellspacing="0" class="fullwidth_oc" width="600">
							<tr>
								<td valign="top">
								  <table border="0" cellpadding="10" cellspacing="0" class="fullwidth_oc" width="100%">
										<tr>
											<td height="40" colspan="2" valign="middle">
												<div>
													|^GEN_shareOnTwitter^|   |^GEN_shareOnFacebook^|   |^GEN_forwardToFriend^|
												</div>
											</td>
										</tr>
										<tr>
											<td width="350" align="left" valign="top">
												
											</td>
									</tr>
								  </table>
								</td>
							</tr>
						</table>
						</div>
						</div>
					</td>
				</tr>
			</table>
			<br />
		</td>
	</tr>
</table>
</div>
</div>
</body>
</html>
