<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Bar Code
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <ion-grid fixed class="padding0 margin0 wd100 ht100">
    <ion-row class="ht100">
      <ion-col size="12" size-md="4" size-lg="4" class="padding0">
    <div class="colorClass height20">
      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-item lines="none"  class="mr-right-5 mr-left-5 bgAuto">
                    <ion-label text-wrap class="title">
                        {{'CheckIn' | translate}}
                    </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
              <div>
                    <img  [src]="getImgContent()" alt="Avatar" >
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <ion-grid class="mr-right-5 mr-left-5" *ngIf="detailsObject">
          <ion-row>
            <ion-col size="6">
              <ion-row>
                  <ion-col>
                  <ion-label class="textFont coolGrey"> {{'Name' | translate}}  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="pdtop0">
                        <ion-label class="textFont navy" text-wrap>{{detailsObject.userName}}</ion-label> 
                  </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                  <ion-col dir="ltr">
                        <ion-label class="textFont coolGrey"> {{'MobileNumber' |  translate}} </ion-label>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="pdtop0">
                        <ion-label class="textFont navy" dir="ltr" text-wrap>{{spacesNumber}}</ion-label> 
                  </ion-col>
              </ion-row>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-row>
                    <ion-col>
                           <ion-label class="textFont coolGrey"> {{'Email' |  translate}}  </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="pdtop0">
                        <ion-label class="textFont navy" text-wrap>{{detailsObject.email}}</ion-label> 
                    </ion-col>
                </ion-row>
              </ion-col>
          </ion-row>
          </ion-grid>
          <ion-list>
                <ion-item class="line" lines="full"></ion-item>
          </ion-list>
          
    <div class="barcode mr-right-5 mr-left-5 textCenter" dir="ltr">
        <ngx-barcode [bc-value]="barCodeString" [bc-font-size]="30" [bc-width]="2"  [bc-font]="monospace" [bc-height]="height" [bc-display-value]="true"></ngx-barcode>
    </div>
</ion-col>
<ion-col *ngIf="!ismobile" class="bgimage "></ion-col>
</ion-row>
</ion-grid>
</ion-content>
