<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
	<style type="text/css">
		@media screen and (max-width:480px){
			*[class=fullwidth_oc]{width:100% !important; height:auto !important;}
			*[class=headerblock_oc] {width:100% !important; height:auto !important;}
			*[class=headerblock_oc] img{width:100% !important; height:auto !important;}
			*[class="prodblock_oc"]{width:100% !important; float:left !important;}
			
			*[class="prodblock_oc"] img{width:100% !important; height:auto !important;}
			
			}
	</style>
</head>
<body bgcolor="#e4e4e4" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#FAFAFA;-webkit-text-size-adjust:none; margin:0;">
<div id='rootDivId'>
<div id='bodyDivId' style="background-color:#FAFAFA;">
<table border="0" cellpadding="0" class="fullwidth_oc" cellspacing="0" height="100%" width="100%">
	<tr>
		<td align="center" bgcolor="#FAFAFA" valign="top">
			<table border="0" cellpadding="0" bgcolor="#FFFFFF" cellspacing="0"  class="fullwidth_oc" width="600">
				<tr>
					<td align="center" valign="top">
						<div id="headerDivId">
						<div name="TMCEeditableDiv" id="TMCEEditableDiv1" ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');">
						<table border="0" class="headerblock_oc" cellpadding="0" cellspacing="0" width="600">
							
							
						  <tr>
							  <td Height="150" align="center" valign="top" bgcolor="#cccccc" class="fullwidth_oc" style="font-family:arial; font-size:20px;"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/t.jpg" style="display:block;" /></td>
						  </tr>
						</table>
					  </div></div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="600" class="fullwidth_oc">
                                                      	
                <tr>
                                        	<td valign="top" width="130" class="prodblock_oc"><div id="promotioneightDivId">
                                        	  <div name="TMCEeditableDiv" id="TMCEEditableDiv8" ondblclick="loadTinyMCE('TMCEEditableDiv8');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv8');"  onmouseout="restoreBlock('TMCEEditableDiv8');">
                                        	    <table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="20" width="600">
                                        	      <tr>
                                        	        <td valign="top"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="100%" >
                                        	          <tr>
                                        	            <td valign="top"><table width="301" align="left" cellpadding="0" cellspacing="0" class="prodblock_oc">
                                        	              <tr>
                                        	                <td width="100%" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        	                  <tr>
                                        	                    <td align="left" valign="top"  style="font-family:'Segoe UI', Arial, Verdana; font-size:12px; color:#666666;"><div style="padding:5px;">
                                        	                      <div style="padding:5px;">
                                        	                        <h4 style="font-size:14px; font-weight:bold; margin:0; color:#DC1802;">Paragraph Heading</h4>
                                        	                        <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin<br />
                                        	                        <br />
                                        	                        <table width="120" border="0" cellspacing="0" cellpadding="0">
                                        	                          <tr>
                                        	                            <td height="30" align="center" valign="middle" bgcolor="#DC1802" style="color:#FFFFFF; font-family:'Segoe UI', Arial, Verdana; font-size:16px; font-weight:bold;"><a href="#"  style="color:#FFFFFF; font-family:'Segoe UI', Arial, Verdana; font-size:14px; font-weight:bold; text-decoration:none;">Purchase Now</a></td>
                                      	                            </tr>
                                      	                          </table>
<br />
                                      	                        </div></td>
                                      	                    </tr>
                                      	                  </table></td>
                                      	                </tr>
                                        	              <tr></tr>
                                      	              </table>
                                        	              <table align="right" cellpadding="0" cellspacing="0" class="prodblock_oc" width="240">
                                        	                <tr>
                                        	                  <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        	                    <tr>
                                        	                      <td  class="prodblock_oc" height="157" align="left" valign="top" style="font-family:'Segoe UI', Arial, Verdana; font-size:12px; color:#666666;"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/promo.jpg" width="231" height="214" /></td>
                                      	                      </tr>
                                      	                    </table></td>
                                      	                  </tr>
                                      	                </table></td>
                                      	            </tr>
                                      	          </table></td>
                                      	        </tr>
                                      	      </table>
                                        	  </div>
                                      	  </div></td>
				</tr>
			</table>	
			</td>
	</tr>
				<tr>
				  <td align="center" valign="top"><div id="promotionSixDivId">
				    <div name="TMCEeditableDiv" id="TMCEEditableDiv6" ondblclick="loadTinyMCE('TMCEEditableDiv6');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv6');"  onmouseout="restoreBlock('TMCEEditableDiv6');">
				      <table border="0" cellpadding="0" cellspacing="0" class="fullwidth_oc" width="600">
					  <tr>
				          <td align="center" valign="middle"><table width="560" border="0" align="center" cellpadding="0" cellspacing="0" class="fullwidth_oc">
				            <tr>
				              <td align="center" valign="middle" style="font-family:'Segoe UI', Arial, Verdana; color:#666666; font-size:12px;">All rights reserved &quot;Company Name&quot;. Terms &amp; Conditions</td>
			                </tr>
				            </table></td>
			            </tr>

				        <tr>
				          <td align="center" valign="middle" bgcolor="#a9f8f5"><table width="148" border="0" align="center" cellpadding="0" cellspacing="0" class="fullwidth_oc">
				            <tr>
				              <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/fb.jpg" width="49" height="45" /></a></td>
				              <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/pin.jpg" width="46" height="45" /></a></td>
				              <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/twitter.jpg" width="49" height="45" /></a></td>
				              <td valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Christmas_and_New_year_03/google.jpg" width="46" height="45" /></a></td>
			                </tr>
				            </table></td>
			            </tr>
			          </table>
			        </div>
			      </div></td>
			  </tr>
          </table>
	</td></tr></table>
</div>
</div>
</body>
</html>