<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
	body{
	margin:0px;
	padding:0px;
}
-->
</style>
</head>

<body>
<div id='rootDivId' >
<DIV id='bodyDivId' style="OVERFLOW: auto; BACKGROUND-COLOR: #FFF"  bgColor=#FFF >
<table id="bodyTableId" align="center" width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#de334a;">
  <tr>
    <td><div id = "headerDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv1"   ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');" ><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#d8394f; height:51px;"> 
      <tr>
        <td><table width="400" border="0" align="center" cellpadding="0" cellspacing="0" style="width:400px; border:0px; margin-top:20px; ">
          <tr>
            <td width="400" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:25px; color:#FFF; text-align:center;">Your Company/ Logo</td>
          </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#875621; height:462px;">
      <tr>
        <td><img src="header.gif" alt="Happy Newyear" width="600" height="462" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "greetingsDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" ><table align="center" width="500px" border="0" cellspacing="0" cellpadding="0" style="width:500px; margin-bottom:10px; margin-top:10px;">
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; font-weight:bold; padding-bottom:10px;">Dear (Customer name),</td>
      </tr>
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:10px;">As one more year comes to an end, here’s wishing you another with moments you’ll cherish forever. May this year bring you great luck, happiness and prosperity!</td>
      </tr>
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:5px;">Best Wishes,</td>
      </tr>
      <tr>
        <td  style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;">Your name</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><div id = "couponDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv3"   ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');" ><table width="600px" border="0" cellpadding="0" cellspacing="0" style="width:600px; background:#9a0015; width:600px; margin-top:10px;" bgcolor="#9a0015" >
      <tr>
        <td><table width="151px" border="0" cellspacing="0" cellpadding="0" style="width:151px; height:63px; background:url(save.gif) repeat-x; margin-left:15px; background-color:#D48830; border:#f2df6e 1px solid; margin-top:10px; margin-bottom:10px;" background="save.gif" bgcolor="#D48830">
            <tr>
              <td style="font-family:'Trebuchet MS', Arail; font-size:24px; color:#FFF; text-align:center;">Save 25%</td>
            </tr>
        </table></td>
        <td  style="padding-left:15px; padding-right:10px; font-family:'Trebuchet MS', Arail; font-size:12px; color:#FFF; margin-top:10px; margin-bottom:10px;">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td style="color:#fff; font-family:Trebuchet MS; font-size:11px; padding-left:20px; padding-top:5px; padding-bottom:5px;"><div name="TMCEeditableDiv" id="TMCEEditableDiv4" ondblclick="loadTinyMCE('TMCEEditableDiv4');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv4');"  onmouseout="restoreBlock('TMCEEditableDiv4');" >Name you wish to sign with.</div></td>
  </tr>
</table>
</DIV>
<script>
var headerBlock = "<table width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; background:#d8394f; height:51px;\"><tr><td><table width=\"400\" border=\"0\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:400px; border:0px; margin-top:20px; \"><tr><td width=\"400\" style=\"font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:25px; color:#FFF; text-align:center;\">Your Company/ Logo</td></tr></table></td></tr></table>";

 var greetingsBlock = "<table align=\"center\" width=\"500px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:500px; margin-bottom:10px; margin-top:10px;\"><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; font-weight:bold; padding-bottom:10px;\">Dear (Customer name),</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:10px;\">As one more year comes to an end, here’s wishing you another with moments you’ll cherish forever. May this year bring you great luck, happiness and prosperity!</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:5px;\">Best Wishes,</td></tr><tr> <td  style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;\">Your name</td></tr></table>";
 
 var couponBlock = "<table width=\"600px\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px; background:#9a0015; width:600px; margin-top:10px;\" bgcolor=\"#9a0015\" ><tr><td><table width=\"151px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:151px; height:63px; background:url(save.gif) repeat-x; margin-left:15px; background-color:#D48830; border:#f2df6e 1px solid; margin-top:10px; margin-bottom:10px;\" background=\"save.gif\" bgcolor=\"#D48830\"><tr><td style=\"font-family:'Trebuchet MS', Arail; font-size:24px; color:#FFF; text-align:center;\">Save 25%</td></tr></table></td><td  style=\"padding-left:15px; padding-right:10px; font-family:'Trebuchet MS', Arail; font-size:12px; color:#FFF; margin-top:10px; margin-bottom:10px;\">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td></tr></table>";
 </script>
</div>
</body>
</html>
