<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	margin: 0px;
	padding: 0px;

}
-->
</style>
</head>

<body>
<div id='rootDivId' >
<DIV id='bodyDivId' style="OVERFLOW: auto; BACKGROUND-COLOR: #FFF"  bgColor=#FFF >
<table id="bodyTableId" align="center" width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#CF2A38 url(middler.gif) top repeat-x;" bgcolor="#CF2A38" background="middler.gif">
  <tr>
    <td><div id = "headerDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv1"   ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');" ><table align="center" width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#faaa42 url(header.gif) no-repeat; height:67px;">
      <tr>
        <td><table border="0" cellspacing="0" align="center" cellpadding="0" style="width:400px; border:0px; margin-top:15px; ">
            <tr>
              <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FFF; text-align:center;">Your Company/ Logo</td>
            </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:229px; background:#CF2A38;" bgcolor="#CF2A38">
      <tr>
        <td><img src="birthday.gif" alt="Happy Birthday" width="600" height="229" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "greetingsDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" ><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px;" >
      <tr>
        <td valign="top"><table align="center" width="500px" border="0" cellspacing="0" cellpadding="0" style="width:500px; margin-bottom:10px; margin-top:10px;">
            <tr>
              <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; font-weight:bold; padding-bottom:10px;">Dear (Customer name),</td>
            </tr>
            <tr>
              <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:10px;">We wish you a very happy birthday and hope that all your dreams and aspirations come true! As you celebrate the day with all the happiness, may the joys stay with you forever.</td>
            </tr>
            <tr>
              <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:5px;">Best Wishes,</td>
            </tr>
            <tr>
              <td  style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;">Your name</td>
            </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td valign="top"><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:160px; background:#CF2A38;" bgcolor="#CF2A38">
      <tr>
        <td><img src="down-image.gif" alt="Happy Birthday" width="600" height="160" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "couponDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv3"   ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');" ><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#CF2A38 url(coupbg.gif) repeat-x;" bgcolor="#CF2A38" background="coupbg.gif">
      <tr>
        <td><table align="center" width="580px" border="0" cellspacing="0" cellpadding="0" style="width:580px; margin-top:10px; margin-bottom:10px;">
            <tr>
              <td style="width:125px; font-family:'Trebuchet MS', Arial; font-size:24px; text-align:center; color:#FFF;">Save 25% </td>
              <td style="background:#FFF; width:1px;"></td>
              <td style="font-family:Trebuchet MS, Arial; font-size:12px; padding-right:10px; padding-left:15px; color:#FFF;">This section helps you display special offers, etc to entice your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td>
            </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
     <td style="color:#FFF; font-family:Trebuchet MS; font-size:11px; padding-left:20px; padding-top:5px; padding-bottom:5px;"><div name="TMCEeditableDiv" id="TMCEEditableDiv4" ondblclick="loadTinyMCE('TMCEEditableDiv4');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv4');"  onmouseout="restoreBlock('TMCEEditableDiv4');" >Name you wish to sign with.</div></td>
  </tr>
</table>
</DIV>
<script>
var headerBlock = "<table align=\"center\" width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; background:#faaa42 url(header.gif) no-repeat; height:67px;\"><tr><td><table border=\"0\" cellspacing=\"0\" align=\"center\" cellpadding=\"0\" style=\"width:400px; border:0px; margin-top:15px; \"><tr><td style=\"font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#FFF; text-align:center;\">Your Company/ Logo</td></tr></table></td></tr></table>";

 var greetingsBlock = "<table width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px;\" ><tr><td valign=\"top\"><table align=\"center\" width=\"500px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:500px; margin-bottom:10px; margin-top:10px;\"><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; font-weight:bold; padding-bottom:10px;\">Dear (Customer name),</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:10px;\">We wish you a very happy birthday and hope that all your dreams and aspirations come true! As you celebrate the day with all the happiness, may the joys stay with you forever.</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-bottom:5px;\">Best Wishes,</td></tr><tr><td  style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;\">Your name</td></tr></table></td></tr></table>";
 
 var couponBlock = "<table width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; background:#CF2A38 url(coupbg.gif) repeat-x;\" bgcolor=\"#CF2A38\" background=\"coupbg.gif\"><tr><td><table align=\"center\" width=\"580px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:580px; margin-top:10px; margin-bottom:10px;\"><tr><td style=\"width:125px; font-family:'Trebuchet MS', Arial; font-size:24px; text-align:center; color:#FFF;\">Save 25% </td><td style=\"background:#FFF; width:1px;\"></td><td style=\"font-family:Trebuchet MS, Arial; font-size:12px; padding-right:10px; padding-left:15px; color:#FFF;\">This section helps you display special offers, etc to entice your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td></tr></table></td></tr></table>";
 </script>
</div>
</body>
</html>
