<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
	<style type="text/css">
		@media screen and (max-width:480px){
			*[class=fullwidth_oc]{width:100% !important; height:auto !important;}
			*[class=headerblock_oc] {width:100% !important; height:auto !important;}
			*[class=headerblock_oc] img{width:100% !important; height:auto !important;}
			*[class="prodblock_oc"]{width:100% !important; display:block !important; float:left !important;}
			
			*[class="prodblock_oc"] img{width:100% !important; height:auto !important;}
			
			}
	</style>
</head>
<body bgcolor="#e4e4e4" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#FAFAFA;-webkit-text-size-adjust:none; margin:0;">
<div id='rootDivId'>
<div id='bodyDivId' style="background-color:#FAFAFA;">
<center>
<table border="0" cellpadding="0" class="fullwidth_oc" cellspacing="0" height="100%" width="100%">
	<tr>
		<td align="center" bgcolor="#FAFAFA" valign="top">
			<table border="0" cellpadding="0" bgcolor="#FFFFFF" cellspacing="0"  class="fullwidth_oc" width="600">
				<tr>
					<td align="center" valign="top">
						<div id="headerDivId">
						<div name="TMCEeditableDiv" id="TMCEEditableDiv1" ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');">
						<table border="0" class="headerblock_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td align="center" valign="middle" bgcolor="#442804" style="font-family:arial; font-size:40px;"><table width="100%" border="0" cellspacing="0" cellpadding="20">
  <tr>
    <td height="41" align="left" valign="middle" bgcolor="#442804" style="font-family:arial; font-size:40px; color:#FFFFFF;"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/logo.png" width="111" height="41" style="width:111px !important;" /></td>
  </tr>
</table>
</td>
							</tr>
                            <tr>
								<td class="fullwidth_oc" align="center" valign="middle" style="font-family:arial; font-size:20px;" bgcolor="#cccccc">
									<img style="display:block;" src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/header.jpg" />
								</td>
							</tr>
						</table>
						</div></div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td valign="top">
									<div id="greetingsDivId">
									<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" >
									<table border="0" cellpadding="20" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top" style="font-family:'Segoe UI', Arial, Verdana; font-size:14px; color:#666666;">
												<div>
													
												  <h2 style="font-family:'Segoe UI', Arial, Verdana; color:#a65d03; font-size:18px;">Paragraph Heading</h2>										
												  <p><strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
												  <p style="text-align:center; margin:0;"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/pumpkin-sep.jpg" width="174" height="62" /></p>
												</div>
											</td>
										</tr>
									</table>
									</div>
									</div>
								</td>
							</tr>
                            </table>
							<div id="promotionDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv3" ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="20" width="600">
							<tr>
								<td valign="top"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="100%" style="border:1px #CDCDCD solid;">
							<tr>
								<td valign="top">
								<table width="160" align="left" cellpadding="0" cellspacing="0" class="prodblock_oc">
									<tr><td valign="top">
									
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top">
											<img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/offer1.jpg" /></td>
										</tr>
									</table>
								
								</td><tr>
								</table>
								<table align="right" cellpadding="0" cellspacing="0" class="prodblock_oc" width="377">
								<tr><td valign="top">
									
									<table border="0" cellpadding="0" cellspacing="10" width="100%">
										<tr>
											<td align="left" valign="top" style="font-family:'Segoe UI', Arial, Verdana; font-size:12px; color:#666666;"><div>
										      <h4 style="font-size:14px; font-weight:bold; margin:0; color:#000000;">Product Name</h4>
												   <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley<br />
												   <br />
												   <table width="120" border="0" cellspacing="0" cellpadding="0">
												     <tr>
												       <td height="30" align="center" valign="middle" bgcolor="#844f0b" style="color:#800883; font-family:'Segoe UI', Arial, Verdana; font-size:16px; font-weight:bold;"><a href="#"  style="color:#fdb913; font-family:'Segoe UI', Arial, Verdana; font-size:14px; font-weight:bold; text-decoration:none;">Buy Now</a></td>
											         </tr>
										      </table>
											</div>
											</td>
										</tr>
									</table>
									
								</td></tr>
								</table></td>
							</tr>
						</table></td>
							</tr>
						</table></div></div><table class="fullwidth_oc" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" class="prodblock_oc" valign="middle"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/sep2.jpg" width="552" height="41" /></td>
  </tr>
</table>
<div id="promotionDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv3" ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');">
					  <table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="20" width="600">
						    <tr>
						      <td valign="top"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="100%" style="border:1px #CDCDCD solid;">
						        <tr>
						          <td valign="top"><table width="160" align="right" cellpadding="0" cellspacing="0" class="prodblock_oc">
						            <tr>
						              <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
						                <tr>
						                  <td align="right" valign="top"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/offer2.jpg" /></td>
						                  </tr>
						                </table></td>
					                </tr>
						            <tr></tr>
						            </table>
						            <table align="left" cellpadding="0" cellspacing="0" class="prodblock_oc" width="377">
						              <tr>
						                <td valign="top"><table border="0" cellpadding="0" cellspacing="10" width="100%">
						                  <tr>
						                    <td align="left" valign="top" style="font-family:'Segoe UI', Arial, Verdana; font-size:12px; color:#666666;"><div>
						                      <h4 style="font-size:14px; font-weight:bold; margin:0; color:#000000;">Product Name</h4>
						                      <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley<br />
						                      <br />
						                      <table width="120" border="0" cellspacing="0" cellpadding="0">
						                        <tr>
						                          <td height="30" align="center" valign="middle" bgcolor="#844f0b" style="color:#800883; font-family:'Segoe UI', Arial, Verdana; font-size:16px; font-weight:bold;"><a href="#"  style="color:#fdb913; font-family:'Segoe UI', Arial, Verdana; font-size:14px; font-weight:bold; text-decoration:none;">Buy Now</a></td>
						                          </tr>
						                        </table>
						                      </div></td>
					                      </tr>
						                  </table></td>
					                  </tr>
					                </table></td>
					            </tr>
						        </table></td>
					        </tr>
					      </table>
					  </div></div>
<table class="fullwidth_oc" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" class="prodblock_oc" valign="middle"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/sep3.jpg" width="552" height="39" /></td>
  </tr>
</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						
									<div id="promotionSixDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv6" ondblclick="loadTinyMCE('TMCEEditableDiv6');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv6');"  onmouseout="restoreBlock('TMCEEditableDiv6');">
							<table border="0" cellpadding="20" cellspacing="0" class="fullwidth_oc" width="600">
								<tr>
									<td align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0" class="fullwidth_oc" width="560">
											<tr>
												<td width="76%" valign="middle" style="font-family:'Segoe UI', Arial, Verdana; color:#666666; font-size:12px;">All rights reserved "Company Name". Terms &amp; Conditions</td>
											  <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/fb.jpg" width="39" height="36" /></a></td>
											  <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/twit.jpg" width="38" height="36" /></a></td>
											  <td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/pin.jpg" width="38" height="36" /></a></td>
												<td width="6%" valign="middle"><a href="#"><img src="/subscriber/SystemData/Templates/HolidaySeason/Halloween_01/google.jpg" width="35" height="36" /></a></td>
											</tr>
										</table></td>
							  </tr>
							</table>
							</div>
							</div>
								
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</center>
</div>
</div>
</body>
</html>