<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
	<style type="text/css">
		@media screen and (max-width:480px){
			*[class=fullwidth_oc]{width:100% !important; height:auto !important;}
			*[class=headerblock_oc] {width:100% !important; height:auto !important;}
			*[class=headerblock_oc] img{width:100% !important; height:auto !important;}
			*[class="prodblock_oc"]{width:100% !important; display:block !important; float:left !important;}
			*[class="prodblock_oc"] img{width:100% !important; height:auto !important;}
			}
	</style>
</head>
<body bgcolor="#e4e4e4" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#FAFAFA;-webkit-text-size-adjust:none; margin:0;">
<div id='rootDivId'>
<div id='bodyDivId' style="background-color:#FAFAFA;">
<center>
<table border="0" cellpadding="0" class="fullwidth_oc" cellspacing="0" height="100%" width="100%">
	<tr>
		<td align="center" bgcolor="#FAFAFA" valign="top">
			<table border="0" cellpadding="0" bgcolor="#FFFFFF" cellspacing="0"  class="fullwidth_oc" width="600">
				<tr>
					<td align="center" valign="top">
						<div id="headerDivId">
						<div name="TMCEeditableDiv" id="TMCEEditableDiv1" ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');">
						<table border="0" class="headerblock_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td class="fullwidth_oc" align="center" valign="middle" style="font-family:arial; font-size:20px;" bgcolor="#cccccc">
									<img style="display:block;" src="/subscriber/SystemData/Templates/General/fancy-variablelayout/placeholder_600.gif" />
								</td>
							</tr>
						</table>
						</div></div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td valign="top">
									<div id="greetingsDivId">
									<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" >
									<table border="0" cellpadding="20" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top">
												<div>
													<h1>Heading 1</h1>
													<h2>Heading 2</h2>
													<h3>Heading 3</h3>
													<h4>Heading 4</h4>
													<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
													<br />
													<br />
													<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
												</div>
											</td>
										</tr>
									</table>
									</div>
									</div>
								</td>
							</tr>
                            </table>
							<div id="promotionDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv3" ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td valign="top">
								<table width="280" align="left" cellpadding="0" cellspacing="0" class="prodblock_oc">
									<tr><td valign="top">
									
									<table border="0" cellpadding="15" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top">
											<img src="/subscriber/SystemData/Templates/General/fancy-variablelayout/placeholder_260.gif" /></td>
										</tr>
									</table>
								
								</td><tr>
								</table>
								<table align="right" cellpadding="0" cellspacing="0" class="prodblock_oc" width="280">
								<tr><td valign="top">
									
									<table border="0" cellpadding="15" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top"><div>
										      <h4>Heading 4</h4>
												   <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
												</div>
											</td>
										</tr>
									</table>
									
								</td></tr>
								</table></td>
							</tr>
						</table></div></div><div id="promotionDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv3" ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');"><table border="0" class="fullwidth_oc" cellpadding="0" cellspacing="0" width="600">
							<tr>
								<td valign="top">
								<table width="280" align="left" cellpadding="0" cellspacing="0" class="prodblock_oc">
									<tr><td valign="top">
									
									<table border="0" cellpadding="15" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top"><div>
										      <h4>Heading 4</h4>
												   <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
												</div>
										  </td>
										</tr>
									</table>
								
								</td><tr>
								</table>
								<table align="right" cellpadding="0" cellspacing="0" class="prodblock_oc" width="280">
								<tr><td valign="top">
									
									<table border="0" cellpadding="15" cellspacing="0" width="100%">
										<tr>
											<td align="left" valign="top">
											<img src="/subscriber/SystemData/Templates/General/fancy-variablelayout/placeholder_260.gif" /></td>
										</tr>
									</table>
									
								</td></tr>
								</table></td>
							</tr>
						</table></div></div>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						
									<div id="promotionSixDivId"><div name="TMCEeditableDiv" id="TMCEEditableDiv6" ondblclick="loadTinyMCE('TMCEEditableDiv6');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv6');"  onmouseout="restoreBlock('TMCEEditableDiv6');">
							<table border="0" cellpadding="10" cellspacing="0" class="fullwidth_oc" width="600">
								<tr>
									<td valign="top">
										<table border="0" cellpadding="10" cellspacing="0" class="fullwidth_oc" width="100%">
											<tr>
												<td colspan="2" align="left" valign="middle">
													<div>
														|^GEN_shareOnTwitter^|   |^GEN_shareOnFacebook^|   |^GEN_forwardToFriend^|
													</div>
												</td>
										  </tr>
											<tr>
												<td width="350" align="left" valign="top">
													
												</td>
											</tr>
										</table>
								  </td>
								</tr>
							</table>
							</div>
							</div>
								
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</center>
</div>
</div>
</body>
</html>
