.title{
    font-size: 24px;
    
    font-weight: bold;
}

.addrText{
    font-size: 12px;
     
    color: black 
}

.arrowIcon{
    width: 25px;
    height: 25px;
}

.wd90{
    width: 90%;
}

.black{
    color: black !important;
}



