<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>

<style type="text/css">
<!--
body {
	margin: 0px;
	padding:0px;
}
-->
</style></head>

<body>
<div id='rootDivId' >
<DIV id='bodyDivId' style="OVERFLOW: auto; BACKGROUND-COLOR: #FFF"  bgColor=#FFF >
<table id="bodyTableId" width="600px" align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#ff98dc;" bgcolor="#ff98dc">
  <tr>
    <td><div id = "headerDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv1"   ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');" ><table align="center" width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:71px; background:#e600b8;" bgcolor="#e600b8">
      <tr>
        <td><table border="0" cellspacing="0" align="center" cellpadding="0" style="width:400px; border:0px; margin-top:10px; ">
          <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:29px; color:#FFF; text-align:center;">Your Company/ Logo</td>
          </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#ffc6ec;" bgcolor="#ffc6ec">
      <tr>
        <td style="width:600px; height:335px;"><img src="child.gif" alt="Happy Birthday" width="600" height="335" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "greetingsDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" ><table width="600px" align="center" border="0" cellspacing="0" cellpadding="0" style="width:500px; background:#ff98dc; margin-top:5px;">
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; font-weight:bold; color:#000;">Dear (Customer&rsquo;s name),</td>
      </tr>
      <tr>
        <td style="padding-top:10px; font-family:'Trebuchet MS'; font-size:12px; color:#000;">We wish you a very happy birthday and hope that all your dreams and aspirations come true! As you celebrate the day with all the happiness, may the joys stay with you forever. </td>
      </tr>
      <tr>
        <td style="padding-top:10px; font-family:'Trebuchet MS'; font-size:12px; color:#000;">Best Wishes,</td>
      </tr>
      <tr>
        <td style="padding-top:5px; font-family:'Trebuchet MS'; font-size:12px; color:#000;">Your name</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><table width="600px" border="0" cellspacing="0" cellpadding="0" style="margin-top:5px; background:#b3009a;" bgcolor="#b3009a">
      <tr>
        <td style="width:600px;"><img src="joker.gif" width="600" height="100" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "couponDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv3"   ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');" ><table width="600px" border="0" cellpadding="0" cellspacing="0" style="width:600px; background:url(coup-bg.gif) repeat-x; width:600px; height:105px; background-color:#E700DE;" bgcolor="#E700DE" background="coup-bg.gif">
      <tr>
        <td><table width="156px" border="0" cellspacing="0" cellpadding="0" style="width:156px; height:76px; background:url(coupim.gif) no-repeat; background:#2BAA3D; margin-left:15px;" background="coupim.gif" bgcolor="#2BAA3D">
          <tr>
            <td style="font-family:'Trebuchet MS', Arail; font-size:30px; color:#FFF; text-align:center;">Save 25%</td>
          </tr>
        </table></td>
        <td  style="padding-left:15px; padding-right:5px; font-family:'Trebuchet MS', Arail; font-size:12px; color:#FFF;">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td style="color:#000; font-family:Trebuchet MS; font-size:11px; padding-left:20px; padding-top:5px; padding-bottom:5px;"><div name="TMCEeditableDiv" id="TMCEEditableDiv4" ondblclick="loadTinyMCE('TMCEEditableDiv4');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv4');"  onmouseout="restoreBlock('TMCEEditableDiv4');" >Name you wish to sign with.</div></td>
  </tr>
</table>
</DIV>
<script>
var headerBlock = "<table align=\"center\" width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; height:71px; background:#e600b8;\" bgcolor=\"#e600b8\"><tr><td><table border=\"0\" cellspacing=\"0\" align=\"center\" cellpadding=\"0\" style=\"width:400px; border:0px; margin-top:10px; \"><tr><td style=\"font-family:Arial, Helvetica, sans-serif; font-size:29px; color:#FFF; text-align:center;\">Your Company/ Logo</td></tr></table></td></tr></table>";

 var greetingsBlock = "<table width=\"600px\" align=\"center\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:500px; background:#ff98dc; margin-top:5px;\"><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; font-weight:bold; color:#000;\">Dear (Customer&rsquo;s name),</td></tr><tr><td style=\"padding-top:10px; font-family:'Trebuchet MS'; font-size:12px; color:#000;\">We wish you a very happy birthday and hope that all your dreams and aspirations come true! As you celebrate the day with all the happiness, may the joys stay with you forever. </td></tr><tr><td style=\"padding-top:10px; font-family:'Trebuchet MS'; font-size:12px; color:#000;\">Best Wishes,</td></tr><tr><td style=\"padding-top:5px; font-family:'Trebuchet MS'; font-size:12px; color:#000;\">Your name</td></tr></table>";
 
 var couponBlock = "<table width=\"600px\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px; background:url(coup-bg.gif) repeat-x; width:600px; height:105px; background-color:#E700DE;\" bgcolor=\"#E700DE\" background=\"coup-bg.gif\"><tr><td><table width=\"156px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:156px; height:76px; background:url(coupim.gif) no-repeat; background:#2BAA3D; margin-left:15px;\" background=\"coupim.gif\" bgcolor=\"#2BAA3D\"><tr><td style=\"font-family:'Trebuchet MS', Arail; font-size:30px; color:#FFF; text-align:center;\">Save 25%</td></tr></table></td><td  style=\"padding-left:15px; padding-right:5px; font-family:'Trebuchet MS', Arail; font-size:12px; color:#FFF;\">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td></tr></table>";
 </script>
</div>
</body>
</html>
