

<ion-content dir="{{textDir}}"  forceOverscroll="false">
  <ion-grid fixed class="padding0 margin0 wd100 ht100">
    <ion-row class="ht100">
      <ion-col size="12" size-md="4" size-lg="4" class="padding0">
  <div [style.background]="'url(' + imageurl +  ')'" class="imgClass">
      <ion-toolbar color="#ffe000">
          <ion-buttons slot="start" >
              <ion-button  (click)="backButtonEvent()">
                <ion-icon mode="md" color="light" slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
      <!-- <ion-item lines="none" class="color-background" text-center >
          <img src="assets/images/be-xclusive.png" height="40" class="logo mr-top-10" >
      </ion-item> -->
  
  </div>

  <div class="mr-right-5 mr-left-5">
     
      <div *ngIf="sendingOTP">
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-label position="stacked" class="Mobile-Number">{{'EmailorPhoneNumber'| translate}}</ion-label>
                <ion-item lines="none" class="box-border">
                    <ion-input type="text" name="phone" [(ngModel)]="phone" required></ion-input>
                  </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
          
           <br/>
          <ion-button expand="full" type="button" shape="round"   class="Login-Button text_transform" (click)="sendOTP('Issue')"> 
              <ion-text class="Login-Button-Text text_transform ">{{'getOTP'| translate}}</ion-text>
            </ion-button>
  
          </div>
  
          <div *ngIf="enteringOTP">
            <ion-item lines="none">
                <ion-label position="stacked" class="Mobile-Number">{{'EnterOTP'| translate}}</ion-label>
              <table class="table" dir="ltr">
                  <tr>
                    <td class="textCenter">
                      <ion-input type="tel" #otp1 class="otp" maxlength="1" [(ngModel)]="digit1"  (keyup)="next(otp2,$event.target.value)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
                      </ion-input>
                    </td>
                    <td class="textCenter">
                      <ion-input type="tel" #otp2 class="otp" maxlength="1" [(ngModel)]="digit2"  (keyup)="next(otp3,$event.target.value)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" (keydown.backspace)="back(otp1,$event.target.value)">
                      </ion-input>
                    </td>
                    <td class="textCenter">
                      <ion-input type="tel" #otp3 class="otp" maxlength="1" [(ngModel)]="digit3"  (keyup)="next(otp4,$event.target.value)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" (keydown.backspace)="back(otp2,$event.target.value)">
                      </ion-input>
                    </td>
                    <td class="textCenter">
                      <ion-input type="tel" #otp4 class="otp" maxlength="1" [(ngModel)]="digit4"  (keydown.backspace)="back(otp3,$event.target.value)" oninput="this.value=this.value.replace(/[^0-9]/g,'');" >
                      </ion-input>
                    </td>
                  </tr>
                </table>   
            </ion-item>
            
                <ion-grid>
                    <ion-row>
                      <ion-col >
                          <ion-text class="Mobile-Number">
                             {{'wehavesentOTP'| translate}}
                            <b  *ngIf="!spacesNumber">{{phone}}</b>
                            <b *ngIf="spacesNumber">{{spacesNumber}}</b>
                          </ion-text><br/>
                          <ion-text class="Mobile-Number">
                            {{'notRecieved' |translate }}
                           </ion-text>
                           <ion-text *ngIf="counter > 0">
                            {{'resendin' |translate }}  0:{{counter}}
                          </ion-text>
                          <a (click)="resendOTP()" class="Mobile-Number blue" *ngIf="counter <= 0"><b>{{'Resend' | translate}}</b>  </a> 
                      </ion-col>
                    </ion-row>
                </ion-grid>
              <ion-button expand="full" type="button" shape="round"   class="Login-Button text_transform" (click)="checkOTP()"> 
                    <ion-text class="Login-Button-Text">Enter</ion-text>
             </ion-button>
          </div>

      <div *ngIf="resetingPwd">
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-label position="stacked" class="Mobile-Number">{{'EnterNewPassword'| translate}}</ion-label>
                <ion-item class="box-border">
                    <ion-input id="newPassword" appShowHideInput  type="text" name="password" [(ngModel)]="newPassword" required></ion-input>
                    <ion-button (click)="showPassword()" class="iconButton" fill="clear" slot="end" color="transparent">
                        <ion-icon   *ngIf="!show" slot="icon-only" name="eye"  style="color:#8b959a;width:20px;height:80%;"></ion-icon>
                        <ion-icon *ngIf="show" slot="icon-only" name="eye-off" style="color:#8b959a;width:20px;height:80%;"></ion-icon>
                      </ion-button>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-label position="stacked" class="Mobile-Number">{{'ConfirmNewPassword'| translate}}  </ion-label>
                  <ion-item class="box-border">
                      <ion-input id="confirmPassword" appShowHideInput  type="text" name="password" [(ngModel)]="confirmPassword" required></ion-input>
                      <ion-button (click)="showResetPassword()" class="iconButton" fill="clear" slot="end" color="transparent">
                          <ion-icon   *ngIf="!resetShow" slot="icon-only" name="eye"  style="color:#8b959a;width:20px;height:80%;"></ion-icon>
                          <ion-icon *ngIf="resetShow" slot="icon-only" name="eye-off" style="color:#8b959a;width:20px;height:80%;"></ion-icon>
                        </ion-button>
                  </ion-item>
              </ion-col>
            </ion-row>
        </ion-grid>
         
         
          <br/>
          <ion-button expand="full" type="button" shape="round"   class="Login-Button text_transform" (click)="submit()"> 
              <ion-text class="Login-Button-Text">{{'SaveNewPassword'| translate}} </ion-text>
          </ion-button>
      </div>

      <div *ngIf="sucessMessage">
        <br/>
        <ion-grid>
          <ion-row>
              <ion-col>
               </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                  <ion-icon slot="start" name="checkmark-circle" class="sucess-mark chekboxicon mrtop0"></ion-icon>
                  <ion-text class="fn13 black" >
                     {{'passwordSucessMsg' | translate}}
                  </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full" type="button" shape="round"   class="Login-Button text_transform" (click)="gotTOLogin()"> 
                <ion-text class="fn13">{{'Login' | translate}}</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
       
        
      </div>
    </div>

  <div class="bottom" *ngIf="!isKeyboardOpen">
      
        <!-- <div class="textCenter">
            <ion-text class="BY-TEXT">{{ 'BY' | translate }}</ion-text>
         </div>
        <ion-item lines="none" text-center ><img src="assets/images/beside.png" height="13" class="logo"></ion-item> -->
    </div>
  </ion-col>
  <ion-col *ngIf="!isMobile" class="bgimage "></ion-col>
</ion-row>
</ion-grid>
</ion-content>
