<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body{
	margin:0px;
	padding:0px;
}
-->
</style>
</head>
<body>
<div id='rootDivId' >
<DIV id='bodyDivId' style="OVERFLOW: auto; BACKGROUND-COLOR: #FFF"  bgColor=#FFF >
<table id="bodyTableId" align="center" width="600px" border="0" cellspacing="0" cellpadding="0"  style="width:600px; background:#0e1119;">
  <tr>
    <td valign="top"><div id = "headerDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv1"   ondblclick="loadTinyMCE('TMCEEditableDiv1');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv1');"  onmouseout="restoreBlock('TMCEEditableDiv1');" ><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:59px; background:#0d0f13;" bgcolor="#0d0f13">
      <tr>
        <td valign="top"><table width="400" border="0" align="center" cellpadding="0" cellspacing="0" style="width:400px; border:0px; margin-top:15px; ">
            <tr>
              <td width="400" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:26px; color:#FFF; text-align:center;">Your Company/ Logo</td>
            </tr>
        </table></td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td valign="top"><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:349px; background:#1f397e;" bgcolor="#1f397e">
      <tr>
        <td><img src="banner.gif" alt="Blessed Ramadan" width="600" height="349" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><div id = "greetingsDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv2"   ondblclick="loadTinyMCE('TMCEEditableDiv2');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv2');"  onmouseout="restoreBlock('TMCEEditableDiv2');" ><table align="center" width="500px" border="0" cellspacing="0" cellpadding="0" style="width:500px; margin-bottom:10px; margin-top:10px;">
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; font-weight:bold; color:#f2932f; padding-bottom:10px;">Dear (Customer name),</td>
      </tr>
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-bottom:10px;">The month of fasting and feasting is here and we wish the Almighty showers on you his choicest blessings on this holy occasion of Ramadan. Enjoy the festive fervour to the fullest!</td>
      </tr>
      <tr>
        <td style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-bottom:5px;">Best Wishes,</td>
      </tr>
      <tr>
        <td  style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-top:5px;">Your name</td>
      </tr>
      <tr>
        <td  style="font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;">&nbsp;</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
    <td><table width="600px" border="0" cellspacing="0" cellpadding="0" style="width:600px; height:94px; background:#2b2a16;" bgcolor="#2b2a16">
      <tr>
        <td><img src="downimg.gif" width="600" height="94" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><div id = "couponDivId">
<div name="TMCEeditableDiv" id="TMCEEditableDiv3"   ondblclick="loadTinyMCE('TMCEEditableDiv3');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv3');"  onmouseout="restoreBlock('TMCEEditableDiv3');" ><table width="600px" border="0" cellpadding="0" cellspacing="0" style="width:600px; background:#162347;" bgcolor="#162347" >
      <tr>
        <td><table width="148px" border="0" cellspacing="0" cellpadding="0" style="width:128px; height:76px; background:#4061bf url(save.gif) repeat-x; margin-left:15px; border:#0140eb 1px solid; margin-top:10px; margin-bottom:10px;" background="save.gif" bgcolor="#4061bf">
            <tr>
              <td style="font-family:'Trebuchet MS', Arail; font-size:26px; color:#FFF; text-align:center;">Save 25%</td>
            </tr>
        </table></td>
        <td  style="padding-left:15px; padding-right:10px; font-family:Trebuchet MS, Arail; font-size:12px; color:#f2932f; margin-top:10px; margin-bottom:10px;">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td>
      </tr>
    </table></div></div></td>
  </tr>
  <tr>
<td style="color:#f2932f; font-family:Trebuchet MS; font-size:11px; padding-left:20px; padding-top:5px; padding-bottom:5px;"><div name="TMCEeditableDiv" id="TMCEEditableDiv4" ondblclick="loadTinyMCE('TMCEEditableDiv4');" title="Double click here to edit this block" onmouseover="hlBlock('TMCEEditableDiv4');"  onmouseout="restoreBlock('TMCEEditableDiv4');" >Name you wish to sign with.</div></td>  </tr>
</table>
</DIV>
<script>
var headerBlock = "<table width=\"600px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:600px; height:59px; background:#0d0f13;\" bgcolor=\"#0d0f13\"><tr><td valign=\"top\"><table width=\"400\" border=\"0\" align=\"center\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:400px; border:0px; margin-top:15px; \"><tr><td width=\"400\" style=\"font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:26px; color:#FFF; text-align:center;\">Your Company/ Logo</td></tr></table></td></tr></table>";

 var greetingsBlock = "<table align=\"center\" width=\"500px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:500px; margin-bottom:10px; margin-top:10px;\"><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; font-weight:bold; color:#f2932f; padding-bottom:10px;\">Dear (Customer name),</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-bottom:10px;\">The month of fasting and feating is here and we wish the Almighty showers on you his choicest blessings on this holy occasion of Ramadan. Enjoy the festive fervour to the fullest!</td></tr><tr><td style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-bottom:5px;\">Best Wishes,</td></tr><tr><td  style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#f2932f; padding-top:5px;\">Your name</td></tr><tr><td  style=\"font-family:'Trebuchet MS', Arial; font-size:14px; color:#FFF; padding-top:5px;\">&nbsp;</td></tr></table>";
 
 var couponBlock = "<table width=\"600px\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width:600px; background:#162347;\" bgcolor=\"#162347\" ><tr><td><table width=\"148px\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"width:128px; height:76px; background:#4061bf url(save.gif) repeat-x; margin-left:15px; border:#0140eb 1px solid; margin-top:10px; margin-bottom:10px;\" background=\"save.gif\" bgcolor=\"#4061bf\"><tr><td style=\"font-family:'Trebuchet MS', Arail; font-size:26px; color:#FFF; text-align:center;\">Save 25%</td></tr></table></td><td  style=\"padding-left:15px; padding-right:10px; font-family:Trebuchet MS, Arail; font-size:12px; color:#f2932f; margin-top:10px; margin-bottom:10px;\">This section helps you display special offers, etc to entice  your customers to take affirmative action. When used effectively, this section can generate huge interest among your readers.</td></tr></table>";
 </script>
</div>
</body>
</html>
