<div id="rootDivId">
<div style="overflow:auto;background-color:#FFFFFF;" id="bodyDivId">
<table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#1e5054" align="center" id="bodyTableId">
<tbody><tr>
<td style="padding-bottom:10px;"><div id="headerDivId">
<div onmouseover="javascript:parent.hlBlock('TMCEeditableDiv1341984387572');" onmouseout="javascript:parent.restoreBlock('TMCEeditableDiv1341984387572');" id="TMCEeditableDiv1341984387572" name="TMCEeditableDiv"><table width="600" cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td valign="top"><table width="300" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody><tr>
<td width="84" height="38" style="padding-left:110px;"><img width="84" border="0" height="38" style="display:block;" src="logo.jpg"></td>
</tr>
<tr>
<td style="font-family:Arial,Helvetica,sans-serif;font-size:20px;text-align:center;font-weight:bold;color:#FFFFFF;">Your Company Name/ Logo</td>
</tr>
<tr>
<td style="font-family:Arial,Helvetica,sans-serif;font-size:13px;text-align:center;color:#FFFFFF;padding-left:5px;">Headline for your Newsletter </td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></div></div>
</td></tr>
<tr>
<td valign="top"><div id="greetingsDivId">
<div onmouseover="javascript:parent.hlBlock('TMCEeditableDiv1341984387573');" onmouseout="javascript:parent.restoreBlock('TMCEeditableDiv1341984387573');" id="TMCEeditableDiv1341984387573" name="TMCEeditableDiv"><table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#00a2b0">
<tbody><tr>
<td valign="bottom" height="30" style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:12px;color:#000000;padding-left:15px;font-weight:bold;text-align:left;">Hello Customer Name,</td>
</tr>
<tr>
<td valign="top" height="50" style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding-left:15px;padding-right:10px;text-align:left;">To get high readability, it's advised to start your letter with a short sentence that captures the essence of your note.</td>
</tr>
</tbody></table></div></div>
</td>
</tr>
<tr>
<td valign="top" style="padding-top:20px;">
<div id="messageDivId">
<div onmouseover="javascript:parent.hlBlock('TMCEeditableDiv1341984387574');" onmouseout="javascript:parent.restoreBlock('TMCEeditableDiv1341984387574');" id="TMCEeditableDiv1341984387574" name="TMCEeditableDiv"><table width="600" cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td width="280" valign="top"><table width="280" cellspacing="0" cellpadding="0" border="0" bgcolor="#00a2b0">
<tbody><tr>
<td width="196" valign="middle" height="157" style="padding-top:15px;padding-bottom:15px;padding-left:40px;"><img width="196" border="0" height="157" style="display:block;" src="working_lady.jpg"></td>
</tr>
</tbody></table>
<table width="280" cellspacing="0" cellpadding="0" border="0" bgcolor="#00a2b0">
<tbody><tr>
<td height="83" style="padding-right:10px;padding-left:10px;color:#000000; font-family:Trebuchet MS, Arial, Helvetica, sans-serif;font-size:12px;text-align:left;">Thank your customer, tell them how valuable they are to you, but don't go overboard. Insincerity is easy to spot.</td>
</tr>
</tbody></table>
</td>
<td width="320" valign="top" style="padding-left:10px;"><table width="310" cellspacing="0" cellpadding="0" border="0" bgcolor="#00a2b0">
<tbody><tr>
<td height="40" style="padding-right:10px;text-align:left;padding-left:10px; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; color:#000000; font-size:12px; font-weight:bold;">Message Headline</td>
</tr>
<tr>
<td valign="top" height="229" style="padding-right:10px;padding-left:10px;color:#000000; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:12px;text-align:left;">To help your readers focus, it's a good idea to break up the body of the letter into logical topics. This way, the readers can focus on the relevant bits. Always select your words carefully as people normally scan through emails. Keep paragraphs short and snappy and provide a link to your website if you want readers to get further information or further details.</td>
</tr>
</tbody></table></td>
</tr>
</tbody></table></div></div>
</td>
</tr>
<tr>
<td valign="top" style="padding-top:10px;"><div id="reiterateDivId">
<div onmouseover="javascript:parent.hlBlock('TMCEeditableDiv1341984387575');" onmouseout="javascript:parent.restoreBlock('TMCEeditableDiv1341984387575');" id="TMCEeditableDiv1341984387575" name="TMCEeditableDiv"><table width="600" cellspacing="0" cellpadding="0" border="0" bgcolor="#00a2b0">
<tbody><tr>
<td valign="bottom" height="30" style="padding-left:10px; padding-right:10px;color:#000000; font-family:Trebuchet MS, Arial; font-size:12px; font-weight:bold;text-align:left;">Sincerely,</td>
</tr>
<tr>
<td height="25" style="padding-left:10px; padding-right:10px;color:#000000; font-family:Trebuchet MS, Arial; font-size:12px;text-align:left;">Your Name,</td>
</tr>
<tr>
<td valign="top" height="30" style="padding-left:10px; padding-right:10px;color:#000000; font-family:Trebuchet MS, Arial; font-size:12px;text-align:left;">Company Name. </td>
</tr>
</tbody></table></div></div></td>
</tr>
</tbody></table>
</div>

</div>
